.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-menu {
  min-height: 5vh;
  display: flex;
  justify-content: center;
  font-size: calc(7px + 2vmin);
}

.App-resume-header {
  background-color: #282c34;
  font-size: calc(12px + 0.5vmin);
  font-weight: bold;
  text-align: left;
  color: white;
}

.App-resume-timeline {
  background-color: lightgrey;
  font-size: calc(10px + 0.5vmin);
  font-weight: bold;
  text-align: left;
  color: black;
}

.App-resume-jobdescription {
  font-size: calc(12px + 0.5vmin);
  text-align: left;
  font-weight: bold;
  color: black;
}

.App-resume-section {
  font-size: calc(12px + 0.5vmin);
  font-weight: normal;
  text-align: justify;
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
